.index-content {
  .inline-block-2 {
    font-size: 0;
    width: 100%;

    & > div {
      display: inline-block;
      font-size: 30px;
      width: 49%;
    }
  }

  .price-limit {
    margin-top: 79px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #e73607;
    background-color: #f7f7f7;
    line-height: 1;

    & > div {
      text-align: center;
    }

    span {
      vertical-align: middle;
    }

    .price {
      font-size: 30px;
      padding-right: 12px;
    }

    .rate {
      font-size: 20px;
      padding-right: 14px;
    }

    .mark {
      font-size: 22px;
      line-height: 1.5;
      padding-left: 5px;
      padding-right: 5px;
      color: #0786e7;
      border-radius: 50%;
      border: 1px solid #0786e7;
    }

    .down {
      color: #00c40c;
    }
  }

  .news-first {
    position: relative;
    padding: 32px 30px 40px;
    margin-bottom: 12px;
    background-color: #fff;

    span {
      vertical-align: middle;
    }

    .title {
      position: relative;
      z-index: 2;
      height: 34px;
      font-size: 24px;
      line-height: 34px;
      color: #a0a0a0;

      .title-name {
        display: inline-block;
        width: 96px;
        height: 34px;
        margin-right: 10px;
        font-size: 20px;
        line-height: 34px;
        color: #fff;
        background: linear-gradient(to right, #21bfff 0%, #3057f0 100%);
        border-radius: 5px;
        text-align: center;
      }
    }

    .news-first-line {
      display: inline-block;
      position: absolute;
      top: 34px;
      left: 76px;
      width: 2px;
      height: 24px;
      background-color: #f9f9f9;
    }

    .content {
      margin-top: 24px;
      padding: 30px;
      font-size: 32px;
      color: #222;
      background-color: #f9f9f9;
    }
  }

  .index-content-news-list {
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #fff;
  }

  .news-type {
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ddd;

    h2 {
      margin: 0 0 15px;
      font-size: 38px;
      color: #222;
      font-weight: normal;
    }

    p {
      margin: 0;
      font-size: 24px;
      color: #a0a0a0;
    }

    &.today-news {
      .today-news-title {
        padding-bottom: 30px;
        color: #e73607;
        font-weight: bold;
        font-size: 36px;

        span {
          color: #0786e7;
        }
      }
    }

    &.trade-zjlx {
      img {
        height: 32px;
        margin-right: 10px;
        vertical-align: middle;
      }

      span {
        vertical-align: middle;
      }
    }

    &.indicator {
      .indicator-content {
        padding: 0 30px;
        border: 1px solid #ddd;
        border-radius: 3px;

        .indicator-item {
          &:not(:last-child) {
            border-bottom: 1px solid #ddd;
          }

          > div {
            display: inline-block;
            vertical-align: middle;
            padding: 30px 0;
          }

          .indicator-item-content {
            width: 240px;
            border-right: 1px solid #ddd;
          }

          .indicator-item-extra {
            padding-left: 28px;
          }
        }
      }

      p {
        margin-top: 15px;
      }
    }

    &.trade-rzrq {
      .trade-rzrq-content {
        border: 1px solid #ddd;
        border-radius: 3px;

        .trade-rzrq-content-title {
          text-align: center;

          img {
            width: 60px;
            margin-top: 20px;
          }
        }

        .am-list-body {
          border: 0;

          &::after {
            border: 0;
          }
        }

        .am-list-item {
          .am-list-line {
            margin-right: 30px;
            padding-left: 0;

            .am-list-extra {
              color: #000;
            }
          }
        }
      }

      p {
        margin-top: 15px;
      }
    }

    &.news-type-pic-1 {
      display: flex;
      align-items: flex-end;

      .pic-1-1 {
        flex: 1;

        h2 {
          margin: 0;
          font-size: 36px;
          color: #222;
          font-weight: normal;
        }

        p {
          margin-top: 8px;
          margin-bottom: 8px;
          font-size: 24px;
          color: #a0a0a0;
        }
      }

      .pic-1-2 {
        img {
          width: 252px;
          max-height: 166px;
          margin-left: 20px;
        }
      }
    }

    &.news-type-pic-3 {
      img {
        width: 226px;
        max-height: 166px;
        text-align: center;
      }
    }
  }

  .news-type-memo {
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ddd;

    .title {
      padding-bottom: 30px;
      font-size: 38px;
      color: #222;
      background-color: #fff;
    }

    .content {
      .stock {
        padding: 40px 0 30px;
        font-size: 30px;
        background-color: #f9f9f9;

        .stock-name {
          padding-bottom: 30px;
          font-size: 30px;
          color: #0786e7;

          img {
            width: 43px;
            margin-right: 15px;
            vertical-align: middle;
          }

          span {
            vertical-align: middle;
          }
        }

        .stock-description {
          padding: 0 15px;
          font-size: 30px;
          color: #222;
        }
      }
    }

    .footer {
      margin-top: 8px;
      font-size: 24px;
      color: #a0a0a0;
    }
  }
}

.float-right {
  float: right;
}
