.index-title {
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;
  height: 79px;
  font-size: 34px;
  background-color: #fff;
  overflow-x: scroll;

  .index-title-box {
    width: 9999px;

    .index-title-item {
      float: left;
      color: #222328;
      padding: 0 20px;
      height: 79px;
      line-height: 79px;
      opacity: 0.4;

      &.index-title-item-active {
        opacity: 1;
      }
    }
  }

  .index-title-extra {
    position: fixed;
    right: 0;
    top: 0;
    height: 79px;
    width: 80px;
    background: linear-gradient(to left, #fff, rgba(0, 0, 0, 0));
  }
}

::-webkit-scrollbar {
  width: 0;
}
