.index-title {
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;
  font-size: 34px;
  background-color: #fff;
  overflow-x: scroll;

  .index-title-box {
    width: 9999px;
    height: 79px;

    .index-title-item {
      display: inline-block;
      color: #222328;
      padding: 20px;
      opacity: .4;

      &.index-title-item-active {
        opacity: 1;
      }
    }
  }

  .index-title-extra {
    position: fixed;
    right: 0;
    top: 0;
    height: 79px;;
    width: 200px;
    background: linear-gradient(to left, #fff, rgba(0, 0, 0, 0));
  }
}

::-webkit-scrollbar {
  width: 0;
}
